body {
  padding: 0;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgb(0, 61, 0);
}

#countdown {
  font-size: 20em;
}

.idle {
  color: grey;
}

.running {
  color: white;
}

.alerting {
  color: red;
  animation: blink 0.5s linear infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

.paused {
  color: cyan;
}

#buttons {
  margin-top: 50px;
}

.button {
  width: 100px;
  padding: 10px 15px;
  margin: 0px 20px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 4px;
  border-top-left-radius: 4px;
  cursor: pointer;
  font-size: 20px;
  transition: 0.5s;
  color: white;
  font-weight: 500;
}

#start {
  background-color: #009779;
}

#stop {
  background-color: #c91400;
}

#values {
  margin-top: 20px;
  color: white;
}

#presets li {
  color: white;
  list-style-type: none;
  display: inline;
}